meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='manifest' href='manifest.json')
meta(name='keywords' content='paramour,chemistry,compatibility,matchmaking,ralphlouisgopez,ralph,louis,gopez')

meta(property='og:title' content='Paramour')
meta(property='og:description' content='See your chemistry and compatibility with people!')
meta(property='og:image' content='https://paramour.herokuapp.com/images/banner.jpg')
meta(property='og:type' content='website')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='@ralphlouisgopez')
meta(name='twitter:creator' content='@ralphlouisgopez')
meta(name='twitter:title' content='Paramour')
meta(name='twitter:description' content='See your chemitry and compatibility with people!')
meta(name='twitter:image' content='https://paramour.herokuapp.com/images/banner.jpg')

