html
    head
        title 404
        include components/metadata.pug         
        link(rel='stylesheet' href='/bundled/bundled.min.css')

        // Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-149930431-6')
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'UA-149930431-6');

    body(data-barba='wrapper')
        main(data-barba='container' data-barba-namespace='index')
            section.menu
                h1.title 4<span style='color: red'>04</span>
                .fab-group
                     a.fab(href='/new') +&#xFE0E;
                     a.fab(href='/match') &#10084;&#xFE0E;
        section.loading.hidden
            p.credits
                | made by <span style="color: red; background-color: white">ralphlouisgopez</span>
    script(src='/bundled/bundled.min.js')
    
