/* 
 * Stylesheet for the index page only
 * Mobile-first responsive design
 * Because computers are more powerful than mobile
 * phones so the default styling is for mobile phones
 * and the media query is for larger devices
 */

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Roboto;
}

.menu {
    width: 100%;
    height: 100%;
}

.menu, .fab-group {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.fab-group {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.title {
    font: 4em Coolvetica;
    text-align: center;
}

.fab {
    border: none;
    font-size: 50px;
    text-align: center;
    text-decoration: none;

    color: white;
    background-color: red;

    cursor: pointer;

    line-height: 70px;

    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;

    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;

    margin: 10px 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    transition: all 0.1s ease-in-out;
}
 
.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

@media (min-width: 768px) { 
    .title {
        font-size: 6em;
    }

    .fab-group {
        position: static
    }

    .fab {
        margin: 10px 0px;
        font-size: 60px;

        line-height: 75px;
        width: 75px;
        height: 75px;
    }
}
