/*
 * Stylesheet for the match page
 */
.tip {
    transition-duration: 0.5s;
}

.file-input {
    width: 150px;
    height: 150px;

    margin: 0 0.5rem 1rem;
    text-align: center;
   
    position: relative;
    display: inline-block;
}

.file-input input[type="file"] {
    width: 2px;
    height: 2px;
  
    position: absolute;
    top: 0;
    left: 0;
    
    overflow: hidden;
    opacity: 0;
}

.file-input label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;
}

.file-input label span {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #777;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.file-input label .icon {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
    font-size: 1.5rem;
    color: #ff4500;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.file-input label:hover {
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

.file-input label:hover span, .file-input label:hover .icon {
    color: #333;
}

.file-input label.file-ok {
    background-size: cover;
    background-position: center;
}

.file-input label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.file-input label.file-ok .icon {
    display: none;
}

